body {
        background-color: #1e1e1e;    
}

img {
        height: 100px;
}
    
hr {
        background-color: darkolivegreen;
        border-style: none;
        height: 2px;
        width: 95%;
}

h1{
    color: azure;
    font-family: 'Courier New', Courier, monospace;
}