body {
        background-color: #1e1e1e;    
        
}

#topsection {
        margin-left: 2%;
}

.profilepic {
        height: 100px;
        
}

.nametitle{
        margin-top: 0;
        padding-bottom: 35px;
}

hr {
        background-color: darkolivegreen;
        border-style: none;
        height: 2px;
        width: 95%;
}

h1{
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
           
}

p{
    color: #b5cea8;
    width: 95%;
    font-family: 'Source Code pro', 'Courier New', Courier, monospace;
    font-size: 25px;
    margin: 2% 3% 2% 3%;
    
    
                   
}
